:root {
    --primary-color: #0056b3;
    --light-color: #f8f9fa;
    --dark-color: #343a40;
}

.hero {
    height: 60vh;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.details {
    text-align: center;
    padding: 40px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
}

h1, h2 {
    font-family: 'Arial', sans-serif;
}

p {
    font-size: 1.2rem;
    color: var(--dark-color);
}

.like-btn {
    background: none;
    border: none;
    color: red;
    font-size: 2rem;
    cursor: pointer;
}

    .like-btn:hover {
        transform: scale(1.1);
        transition: all 0.3s ease-in-out;
    }

.comment-section {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
}

.comment-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-textarea {
    width: 100%;
    padding: 10px;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.comment-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-top: 10px;
}

.comment-user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-user {
    font-weight: bold;
    color: #007BFF;
    margin: 0; /* remove margin for consistent alignment */
}

.comment-date {
    color: #666;
}

.comment-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.delete-comment-button, .report-button {
    background: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .delete-comment-button:hover, .report-button:hover {
        background-color: #eee; /* Slight hover effect */
    }

.delete-comment-button {
    color: red;
}

.report-button {
    color: #007BFF;
    margin-right: 10px;
}

