@page
@model Website.Pages.LoginModel
@{
}
@section Tags {
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
}
@section Styles {
    <link rel="stylesheet" href="/css/LoginSignup.css">

    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
}
<section class="contain forms">
    <div class="form login">
        <div class="form-content">
            <div class="topform">Login</div>
            <div><h6 class="error-message">@ViewData["Error"]</h6></div>
            <form method="post" novalidate>
                <div class="field input-field">
                    <input type="text" placeholder="Username *" asp-for="LoginDTO.Username" class="input">
                    <span asp-validation-for="LoginDTO.Username" class="text-danger"></span>
                </div>

                <div class="field input-field">
                    <input type="password" placeholder="Password *" asp-for="LoginDTO.PasswordEntry" class="password">
                    <i class='bx bx-hide eye-icon'></i>
                    <span asp-validation-for="LoginDTO.PasswordEntry" class="text-danger"></span>
                </div>

                <div class="form-link">
                    <a href="#" class="forgot-pass">Forgot password?</a>
                </div>

                <div class="field button-field">
                    <input type="submit" class="button" value="Login">
                </div>
            </form>

            <div class="form-link">
                <span>Don't have an account? <a class="link signup-link" asp-page="/SignUp">Signup</a></span>
            </div>
        </div>

        <div class="line"></div>

        <div class="media-options">
            <a href="#" class="field facebook">
                <i class='bx bxl-facebook facebook-icon'></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options">
            <a href="#" class="field google">
                <i class="bx bxl-google google-icon"></i>
                <span>Login with Google</span>
            </a>
        </div>

    </div>
</section>
@section Scripts {
    <!-- JavaScript -->
    <script>
        document.getElementById('birthdate').addEventListener('blur', function () {
            if (!this.value) {
                this.type = 'text';
            }
        });
    </script>
    <script src="js/LoginSignup.js"></script>
    <partial name="_ValidationScriptsPartial" />
}