.carousel-item img {
    height: 80vh;
    object-fit: cover;
    width: 100%;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
}

section h2 {
    color: #333;
    font-weight: bold;
}

section p {
    color: #666;
}
.body-container {
    /*remove the container default padding attribute*/
    padding-left: 0px !important;
    padding-right: 0px !important;
    /*increase width as per your need*/
    max-width: 100%;
} 